/*vars*/
:root {
/*theme3 */
--color1: #1282A2;
    --color1--light-1: color(var(--color1) tint(20%));
    --color1--light-2: color(var(--color1) tint(40%));
    --color1--light-3: color(var(--color1) tint(85%));
--color2: #1C3144;
    --color2--light-1: color(var(--color2) tint(30%));
    --color2--light-2: color(var(--color2) tint(40%));
    --color2--light-3: color(var(--color2) tint(90%));
    --color2--light-2-alpha-1: color(var(--color2) tint(70%) alpha(1));
    --color2--light-2-alpha-0: color(var(--color2) tint(70%) alpha(0));
--color3: #401F3E;
    --color3--light-1: color(var(--color3) tint(30%));
    --color3--light-2: color(var(--color3) tint(50%));
    --color3--light-3: color(var(--color3) tint(90%));
}
